:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
li{
  list-style: none;
}
Link{
  color: inherit;
}
.btn {
  border-radius: 6px;
  color: white;
  border: 1px solid transparent;
  padding:2px 18px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e52384;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.main{
  text-align: center;
}
.home_img{
  width: 200px;
}
